<%= provide(:title, "Show Position") %>

<h1><%= yield :title %></h1>
<%= link_to "Back to Positions page", admin_positions_path %><br>
Title: <%= @position.title %><br>
Status Code: <%= @position.status.title %><br>