<main>
  <div class="sec1-contents section-blogs">
    <div class="row">
      <div class="container">
          <article>
            <h1><%= @blog.title %></h1>
            <div class="info text-center">
              <span class="date"><%= @blog.updated_at.strftime("%B %d, %Y") %></span> 
              <span class="author">By: <span class="author"><%= @blog.user.first_name %></span></span>
            </div>
            
            <%= image_tag( photo_path(@blog.photo, '500x500') , alt: @blog.title, class: 'thumbnail') %>

            <p><%= @blog.description.html_safe %></p>
          </article>

    </div>
  </div>
</main>
