<main>
	<div class="sec1-contents section-blogs">
    <div class="row">
      <div class="container">
        <div class=" col-lg-12">
        	<h1>Blog</h1>
        	<div class="blogs">

        	  <div class="row">
    					<div class="col-lg-4 thumbnail">
    						<%= link_to image_tag("People-of-VXI-Peter-Paul-Pajarillaga-for-Social-Media_FINAL-480x360", alt: ""), '#' %>
    					</div>
    					<div class="col-lg-8 description">
      					<h2><%= link_to 'PEOPLE OF VXI: FOR PAUL, SUCCESS IS EQUAL PARTS PASSION AND PERSEVERANCE', '#'  %></h2>
      					<div class="info">
      						<span class="date">October 3, 2017</span> 
      						<span class="author">By: <span class="author">webadmin</span></span>
      					</div>
    						<p>The Latin audentes Fortuna adiuvat translates in English as "Fortune comes to the aid of those daring". This is meant to inspire people bent on pe... 
    						<%= link_to 'Read more', '#' %>
    						</p>
    					</div>
    				</div>

    				<div class="row">
    					<div class="col-lg-4 thumbnail">
    						<%= link_to image_tag("no-image", alt: ""), '#' %>
    					</div>
    					<div class="col-lg-8 description">
      					<h2><%= link_to 'PEOPLE OF VXI: FOR PAUL, SUCCESS IS EQUAL PARTS PASSION AND PERSEVERANCE', '#'  %></h2>
      					<div class="info">
      						<span class="date">October 3, 2017</span> 
      						<span class="author">By: <span class="author">webadmin</span></span>
      					</div>
    						<p>The Latin audentes Fortuna adiuvat translates in English as "Fortune comes to the aid of those daring". This is meant to inspire people bent on pe... 
    						<%= link_to 'Read more', '#' %>
    						</p>
    					</div>
    				</div>

    				<div class="row">
    					<div class="col-lg-4 thumbnail">
    						<%= link_to image_tag("People-of-VXI-Peter-Paul-Pajarillaga-for-Social-Media_FINAL-480x360", alt: ""), '#' %>
    					</div>
    					<div class="col-lg-8 description">
      					<h2><%= link_to 'PEOPLE OF VXI: FOR PAUL, SUCCESS IS EQUAL PARTS PASSION AND PERSEVERANCE', '#'  %></h2>
      					<div class="info">
      						<span class="date">October 3, 2017</span> 
      						<span class="author">By: <span class="author">webadmin</span></span>
      					</div>
    						<p>The Latin audentes Fortuna adiuvat translates in English as "Fortune comes to the aid of those daring". This is meant to inspire people bent on pe... 
    						<%= link_to 'Read more', '#' %>
    						</p>
    					</div>
    				</div>

        </div>
      </div>
    </div>
  </div>
</main>
