<main>
  <section id='section-slider'>

    <div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #02c1b2">
          <img class="d-block w-100" src="<%= image_url 'raffy-1.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #f71d58">
          <img class="d-block w-100" src="<%= image_url 'rex-1353x699.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #ff5a00">
          <img class="d-block w-100" src="<%= image_url 'sundae-1353x699.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #afb803">
          <img class="d-block w-100" src="<%= image_url 'velvet-1353x699.png' %>" alt="First slide">
        </div>
      </div>
    </div>
  
    <div class="sec1-contents">
      
      
      <div class="row">
        <div class="container">
          <div class=" col-lg-6 animatable fadeInUp">

            <%= form_with model: @applicant, url: signup_vxi_path, remote: true, class: 'form-signup' do |form| %>
              <div class="row">
                <div class="col">
                  <a href="" class="btn-fb" id="BtnFBdummy">Sign Up with Facebook</a>
                  <!-- <button id="BtnFB" class="btn-fb">Sign Up with Facebook</button> -->
                  <div class="help-info">Or fill up this form</div>
                </div>
              </div>
              <% flash.each do |message_type, message| %>
                <div class="<%= "alert alert-#{message_type}" %>"><%= message %></div>
              <% end %>
              <div class="row">
                <div class="col">
                  <label for="">First Name*</label>
                  <%= form.text_field :first_name %>
                  <!-- <input type="text" class="" id="FirstName"> -->
                  <!-- <small id="passwordHelpBlock" class="form-text">The field is required.</small> -->
                </div>
                <div class="col">
                  <label for="">Last Name*</label>
                  <%= form.text_field :last_name %>
                  <!-- <input type="text" class="" id="LastName"> -->
                  <!-- <small id="passwordHelpBlock" class="form-text">The field is required.</small> -->
                </div>
              </div>
            
              <div class="row">
                <div class="col">
                  <label for="">Contact Number*</label>
                  <!-- <input type="text" class=""> -->
                  <%= form.text_field :user_phone_number %>
                </div>
                <div class="col">
                  <label for="">Email Address</label>
                  <!-- <input type="text" class=""> -->
                  <%= form.email_field :email %>
                </div>
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <label for="">Which VXI site do you want to apply for?*</label>
                   <%= form.select(:location, [['North EDSA, Quezon City', 'North EDSA, Quezon City'], ['EDSA Buendia, Makati City', 'EDSA Buendia, Makati City']]) %>
                 <!--  <select id="location" name="location">
                    <option value=""></option>
                    <option value="North EDSA, Quezon City">North EDSA, Quezon City</option>
                    <option value="EDSA Buendia, Makati City">EDSA Buendia, Makati City</option>
                    <option value="MOA Complex, Pasay City">MOA Complex, Pasay City</option>
                    <option value="Robinsons Cybergate, Davao City">Robinsons Cybergate, Davao City</option>
                    <option value="SM Ecoland, Davao City">SM Ecoland, Davao City</option>
                    <option value="Felcris Centrale, Davao City">Felcris Centrale, Davao City</option>
                    <option value="SM City Clark, Angeles City">SM City Clark, Angeles City</option>
                  </select> -->
                <!--</div>-->
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <label for="">Which position are you applying for?*</label>
                   <%= form.select(:position, [['Sales Associate', 'Sales Associate'], ['Tech Support Associate', 'Tech Support Associate']]) %>
                 <!--  <select id="position" name="position">
                    <option value=""></option><option value="Sales Associate">Sales Associate</option><option value="Tech Support Associate">Tech Support Associate</option><option value="Customer Service Associate">Customer Service Associate</option>
                  </select> -->
                <!--</div>-->
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <label for="">What is your highest educational attainment?*</label>
                  <%= form.select(:education, [['High school graduate', 'High school graduate'], ['K-12 Graduate', 'K-12 Graduate']]) %>
                  <!-- <select id="education" name="education">
                    <option value=""></option><option value="High school graduate">High school graduate</option><option value="K-12 Graduate">K-12 Graduate</option><option value="College graduate">College graduate</option><option value="Undergrad below 2 years">Undergrad below 2 years</option><option value="Undergrad 2 years and up">Undergrad 2 years and up</option><option value="Post Graduate">Post Graduate</option>
                  </select> -->
                <!--</div>-->
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <label for="">Do you have call center experience?*</label>
                  <%= form.select(:experience, [['Yes, 1-5 months', 'Yes, 1-5 months'], ['Yes, 6-11 months', 'Yes, 6-11 months']]) %>
                  <!-- <select id="experience" name="experience">
                    <option value=""></option><option value="None">None</option><option value="Yes, 1-5 months">Yes, 1-5 months</option><option value="Yes, 6-11 months">Yes, 6-11 months</option><option value="Yes, 12-23 months">Yes, 12-23 months</option><option value="Yes, 24 months and above">Yes, 24 months and above</option>
                  </select> -->
                <!--</div>-->
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <label for="">How did you learn about our job opening?*</label>
                  <%= form.select(:source_info, [['Social Media', 'Social Media'], ['Online Job Portals', 'Online Job Portals']]) %>
                 <!--  <select id="source_info" name="source_info" class="col-lg-6">
                    <option value=""></option><option value="Social Media">Social Media</option><option value="Online Job Portals">Online Job Portals</option><option value="Email">Email</option><option value="School Events">School Events</option><option value="Referral">Referral</option><option value="Outdoor Advertising">Outdoor Advertising</option><option value="Print Advertising">Print Advertising</option>
                  </select> -->
                <!--</div>-->
              </div>
            
              <div class="form-group">
                <div class="form-check">
                  <!-- <input class="form-check-input" type="checkbox" id="gridCheck"> -->
                  <%= form.check_box :terms, class: 'form-check-input' %>
                  <label class="form-check-label" for="gridCheck">
                    I have agree to the <a href="http://vxi-family.com/privacy-policy/" target="_blank">Privacy Policy</a> and <a href="http://www.vxi-family.com/terms-conditions/" target="_blank">Terms and Conditions.</a>
                  </label>
                </div>
              </div>
            
              <div class="row">
                <!--<div class="col">-->
                  <!-- <button type="submit" class="btn-yellow">Submit</button> -->
                  <%= form.submit 'Submit', class: 'btn-vxi btn-submit' %>
                <!--</div>-->
              </div>
            <% end %>
            <!-- </form> -->
          </div>
          <div class="col-lg-6"></div>
      </div>
      </div>
      

    </div>
    
  </section>

</main>

<section class="section-details bg-orange section-about">
  <figure class="animatabled bounceInRight"><%= image_tag 'airplane1.png', class: 'plane plane-left animatable fadeInRight' %></figure>
  <figure ><%= image_tag 'airplane2.png', class: 'plane plane-right animatable fadeInLeft' %></figure>
  <div class="container">
    <div class="row">
      <div class="col-6 animatable fadeInUp">
        <%= image_tag 'intro-title.png' %>
      </div>
      <div class="col-6 animatable fadeInUp animationDelay">
        <p>Our story started in Los Angeles in 1997 as an Integrated Customer Contact Center that specializes in Multilingual Solutions. Our founders believed that a unique blend of Technology and Customer Service will ultimately achieve Excellent Consumer Management.</p>

        <p>VXI Philippines was established in 2003 and since then, our road to success continues to soar. In fact, we are now 12,000 employees strong across Metro Manila and Davao. But we do not stop there. We are continuously looking for new talents that will join our journey, and together, we build a great culture, create success stories and take amazing care of our people.</p>

        <button class="btn-vxi btn-details" onclick="scrollToTop(800);">Get in touch <strong>With us</strong></button>

      </div>
    </div>
  </div>
</section>

<section class="section-details bg-green section-jobs">
  <div class="container">
    <div class="row">
      <div class="col-7 animatable fadeInUp">
        <div class="details-item">
          <h2>Customer Service Associates <figure><%= image_tag 'smiley.png', class: 'mw-50 ic' %></figure></h2>
          <p>Committed to client satisfaction, VXI is on the lookout for Customer Service Associates who are passionate about providing excellent service to customers. Work with us and be inspired to be your best every day!</p>
        </div>

        <div class="details-item">
          <h2>Sales Associates <figure><%= image_tag 'dollar.png', class: 'mw-38 ic' %></figure></h2>
          <p>Being a Sales Associate is all about having the right Customer Service skills, Communication skills and Persistence! VXI is looking for individuals with confidence, enthusiasm and above all, passion to make a sale and seal the deal.</p>
        </div>

        <div class="details-item">
          <h2>Technical Support Associates <figure><%= image_tag 'gears.png', class: 'mw-90 ic' %></figure></h2>
          <p>An expert in troubleshooting, Tech Support Associates are always ready to solve every technical difficulty our clients will encounter. VXI is in search of dedicated, committed and passionate techy individuals that will contribute to the success of the whole team. Join us and experience a family in your workplace.</p>
        </div>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
</section>

<script>
  $(function(){

    /* Set the height of section-slider based on contents or window height */
    var slider_contents_height = 0;
    $('#section-slider #mainCarousel').each(function(){
      slider_contents_height = Math.max(slider_contents_height, $(this).height() + $(this).position().top);
    });
    window_height = $(window).height();
    section_slider_height = slider_contents_height > window_height ? slider_contents_height : window_height;
    $('#section-slider').css('height', section_slider_height - 1);


    // Function which adds the 'animated' class to any '.animatable' in view
    var doAnimations = function() {
      console.log('doAnimations');
      // Calc current offset and get all animatables
      var offset = $(window).scrollTop() + $(window).height(),
          $animatables = $('.animatable');
      console.log('offset', offset);
      // Unbind scroll handler if we have no animatables
      if ($animatables.length == 0) {
        console.log('no animations');
        $(window).off('scroll', doAnimations);
      }
      
      // Check all animatables and animate them if necessary
      $animatables.each(function(i) {
         var $animatable = $(this);
         // console.log('animatable', $animatable);
         // console.log('$animatable.offset().top', $animatable.offset().top);
         // console.log('$animatable.height()', $animatable.height());
        if (($animatable.offset().top) < offset) {
          // delay = $animatable.data('delay') != undefined ? $animatable.data('delay')  : 0 ;
          // console.log('delay', delay);
          $animatable.removeClass('animatable').addClass('animated');
          // TODO: delay not working
        }
      });

    };
    
    // Hook doAnimations on scroll, and trigger a scroll
    $(window).on('scroll', doAnimations);
    $(window).trigger('scroll');
  });

  // Scroll to top animation
  function scrollToTop(scrollDuration) {
      var scrollStep = -window.scrollY / (scrollDuration / 15),
        scrollInterval = setInterval(function(){
        if ( window.scrollY != 0 ) {
            window.scrollBy( 0, scrollStep );
        }
        else clearInterval(scrollInterval); 
      },15);
    }

function getUserData() {
  FB.api('/me', {fields: 'first_name, last_name'}, function(response) {
    $('#FirstName').val(response.first_name);
    $('#LastName').val(response.last_name);
  });
}
 /* Commented out to remove localhost error */
// window.fbAsyncInit = function() {
//   //SDK loaded, initialize it
//   FB.init({
//     appId      : '929935887215359',
//     xfbml      : true,
//     version    : 'v2.8'
//   });
//  console.log('fbAsyncInit');
//   //check user session and refresh it
//   FB.getLoginStatus(function(response) {
//     if (response.status === 'connected') {
//       //user is authorized
//       getUserData();
//     } else {
//       //user is not authorized
//       console.log('please log in');
//     }
//   });
// };
 
//load the JavaScript SDK
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
 
//add event listener to login button
  document.getElementById('BtnFB').addEventListener('click', function() {
    //do the login
    FB.login(function(response) {
      if (response.authResponse) {
        //user just authorized your app
        getUserData();
      }
    }, {scope: 'email,public_profile', return_scopes: true});
  }, false);

</script>