<main>
	<section id='section-slider' background-color="#02c1b2">

		<div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel">
		  <div class="carousel-inner">
		    <div class="carousel-item active" style="background-color: #02c1b2">
		      <img class="d-block w-100" src="<%= image_url 'raffy-1.png' %>" alt="First slide">
		    </div>
		    <div class="carousel-item" style="background-color: #f71d58">
		    	<img class="d-block w-100" src="<%= image_url 'rex-1353x699.png' %>" alt="First slide">
		    </div>
		    <div class="carousel-item" style="background-color: #ff5a00">
		    	<img class="d-block w-100" src="<%= image_url 'sundae-1353x699.png' %>" alt="First slide">
		    </div>
		    <div class="carousel-item" style="background-color: #afb803">
		    	<img class="d-block w-100" src="<%= image_url 'velvet-1353x699.png' %>" alt="First slide">
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	
		<div class="sec1-contents">
		<!-- <h1>Text here</h1> -->
		<header>
			<div class="container">
				<div class="navbar-header"><a href=""><%= image_tag 'vxi-logo.png' %></a></div>
				<nav class='navbar fixed-top' >
					<ul class="nav navbar-nav navbar-right">
					<li><a href="">Home</a></li>
			  	<li><a href="/blog">Blog</a></li>
				</nav>
			</div>
		</header>


		</div>

	</section>

</main>

<footer>
	<p>footer</p>
</footer>

<script>
	$(function(){

		/* Set the height of section-slider based on contents */
	  var y = 0;
	  $('#section-slider #mainCarousel').each(function(){
	    y = Math.max(y, $(this).height() + $(this).position().top);
	  });

	  $('#section-slider').css('height', y);
	});

</script>