<main id="HomePage">
  <section id='section-slider'>
    <div id="mainCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: #02c1b2">
          <img class="d-block w-100" src="<%= image_url 'raffy-1.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #f71d58">
          <img class="d-block w-100" src="<%= image_url 'rex-1353x699.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #ff5a00">
          <img class="d-block w-100" src="<%= image_url 'sundae-1353x699.png' %>" alt="First slide">
        </div>
        <div class="carousel-item" style="background-color: #afb803">
          <img class="d-block w-100" src="<%= image_url 'velvet-1353x699.png' %>" alt="First slide">
        </div>
      </div>
    </div>
  
    <div class="sec1-contents">
      <div class="row">
        <div class="container">
          <div class=" col-md-6 col-sm-12 animatable fadeInUp">

            <%= render 'layouts/form' %>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<section class="section-details bg-orange section-about">
  <figure class="animatabled bounceInRight"><%= image_tag 'airplane1.png', class: 'plane plane-left animatable fadeInRight' %></figure>
  <figure ><%= image_tag 'airplane2.png', class: 'plane plane-right animatable fadeInLeft' %></figure>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 animatable fadeInUp">
        <%= image_tag 'intro-title.png', class: 'img-passion' %>
      </div>
      <div class="col-md-6 col-sm-12 animatable fadeInUp animationDelay">
        <p>Our story started in Los Angeles in 1997 as an Integrated Customer Contact Center that specializes in Multilingual Solutions. Our founders believed that a unique blend of Technology and Customer Service will ultimately achieve Excellent Consumer Management.</p>

        <p>VXI Philippines was established in 2003 and since then, our road to success continues to soar. In fact, we are now 12,000 employees strong across Metro Manila and Davao. But we do not stop there. We are continuously looking for new talents that will join our journey, and together, we build a great culture, create success stories and take amazing care of our people.</p>

        <button class="btn-vxi btn-details" onclick="scrollToTop(800);">Get in touch <strong>With us</strong></button>

      </div>
    </div>
  </div>
</section>

<section class="section-details bg-green section-jobs">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-9 animatable fadeInUp">
        <div class="details-item">
          <h2>Customer Service Associates <figure><%= image_tag 'smiley.png', class: 'mw-50 ic' %></figure></h2>
          <p>Committed to client satisfaction, VXI is on the lookout for Customer Service Associates who are passionate about providing excellent service to customers. Work with us and be inspired to be your best every day!</p>
        </div>

        <div class="details-item">
          <h2>Sales Associates <figure><%= image_tag 'dollar.png', class: 'mw-38 ic' %></figure></h2>
          <p>Being a Sales Associate is all about having the right Customer Service skills, Communication skills and Persistence! VXI is looking for individuals with confidence, enthusiasm and above all, passion to make a sale and seal the deal.</p>
        </div>

        <div class="details-item">
          <h2>Technical Support Associates <figure><%= image_tag 'gears.png', class: 'mw-90 ic' %></figure></h2>
          <p>An expert in troubleshooting, Tech Support Associates are always ready to solve every technical difficulty our clients will encounter. VXI is in search of dedicated, committed and passionate techy individuals that will contribute to the success of the whole team. Join us and experience a family in your workplace.</p>
        </div>
      </div>
      <div class="col-6">
      </div>
    </div>
  </div>
</section>