<%= provide(:title, "Show Blog") %>

<h1><%= yield :title %></h1>
<%= link_to "Back to Blogs path", admin_blogs_path %><br>
<%= image_tag photo_path( @blog.photo ) %>
Title: <%= @blog.title %><br>
Status Code: <%= @blog.status.title %><br>
Description: <%= @blog.description.html_safe %><br>
