<%= form_with model: @applicant, url: signup_vxi_path, remote: true, class: 'form-signup', id: 'formSignUp' do |form| %>
  <div class="row">
    <div class="col">
      <a href="" class="btn-fb" id="BtnFB">Sign Up with Facebook</a>
      <div class="help-info">Or fill up this form</div>
    </div>
  </div>

   <% flash.each do |message_type, message| %>
    <% if message_type == 'info' %>
      <div class="<%= "alert alert-#{message_type}" %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label for="">First Name*</label>
      <%= form.text_field :first_name, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['first_name']) if flash.key?('errors') %></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="">Last Name*</label>
      <%= form.text_field :last_name, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['last_name']) if flash.key?('errors') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label for="">Contact Number*</label>
      <%= form.text_field :user_phone_number, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['user_phone_number']) if flash.key?('errors') %></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="">Email Address</label>
      <%= form.email_field :email, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['email']) if flash.key?('errors') %></p>
    </div>
  </div>

  <div class="row">
    <label for="">Which VXI site do you want to apply for?*</label>
    <%= form.collection_select :location, Location.all, :title, :title, {}, required: true %>
    <p class="help"><%= @applicant.humanized_error(flash['errors']['location']) if flash.key?('errors') %></p>
  </div>

  <div class="row">
    <label for="">Which position are you applying for?*</label>
    <%= form.collection_select :position, Position.all, :title, :title, {}, required: true %>
    <p class="help"><%= @applicant.humanized_error(flash['errors']['position']) if flash.key?('errors') %></p>
  </div>

  <div class="row">
    <label for="">What is your highest educational attainment?*</label>
    <%= form.collection_select :education, Education.all, :title, :title, {}, required: true %>
    <p class="help"><%= @applicant.humanized_error(flash['errors']['education']) if flash.key?('errors') %></p>
  </div>

  <div class="row">
    <label for="">Do you have call center experience?*</label>
    <%= form.collection_select :experience, Experience.all, :title, :title, {}, required: true %>
    <p class="help"><%= @applicant.humanized_error(flash['errors']['experience']) if flash.key?('errors') %></p>
  </div>

  <div class="row">
    <label for="">How did you learn about our job opening?*</label>
    <%= form.collection_select :source_info, SourceInfo.all, :title, :title, {}, required: true %>
    <p class="help"><%= @applicant.humanized_error(flash['errors']['source_info']) if flash.key?('errors') %></p>
  </div>

  <div class="form-group">
    <div class="form-check">
      <%= form.check_box :terms, class: 'form-check-input', required: true%>
      <label class="form-check-label" for="gridCheck">
        I have agree to the <%= link_to 'Privacy Policy', privacy_policy_path %> and <%= link_to 'Terms and Conditions', terms_conditions_path %>.
      </label>
    </div>
  </div>

  <div class="row">
    <%= form.submit 'Submit', class: 'btn-vxi btn-submit' %>
    <%= image_tag 'ajax-loader.svg', alt: 'Loading...', class: 'ajax-loader' %>
  </div>
<% end %>

