<%= form_with model: @applicant, url: signup_vxi_path, remote: true, class: 'form-signup' do |form| %>
  <div class="row">
    <div class="col">
      <a href="" class="btn-fb" id="BtnFB">Sign Up with Facebook</a>
      <div class="help-info">Or fill up this form</div>
    </div>
  </div>

   <% flash.each do |message_type, message| %>
    <% if message_type == 'info' %>
      <div class="<%= "alert alert-#{message_type}" %>">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label for="">First Name*</label>
      <%= form.text_field :first_name, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['first_name']) if flash.key?('errors') %></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="">Last Name*</label>
      <%= form.text_field :last_name, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['last_name']) if flash.key?('errors') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <label for="">Contact Number*</label>
      <%= form.text_field :user_phone_number, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['user_phone_number']) if flash.key?('errors') %></p>
    </div>
    <div class="col-md-6 col-sm-12">
      <label for="">Email Address</label>
      <%= form.email_field :email, required: true %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['email']) if flash.key?('errors') %></p>
    </div>
  </div>

  <div class="row">
    <!--<div class="col">-->
      <label for="">Which VXI site do you want to apply for?*</label>
       <%= form.select(:location, [['North EDSA, Quezon City', 'North EDSA, Quezon City'], ['EDSA Buendia, Makati City', 'EDSA Buendia, Makati City']], required: true) %>
       <p class="help"><%= @applicant.humanized_error(flash['errors']['location']) if flash.key?('errors') %></p>
     <!--  <select id="location" name="location">
        <option value=""></option>
        <option value="North EDSA, Quezon City">North EDSA, Quezon City</option>
        <option value="EDSA Buendia, Makati City">EDSA Buendia, Makati City</option>
        <option value="MOA Complex, Pasay City">MOA Complex, Pasay City</option>
        <option value="Robinsons Cybergate, Davao City">Robinsons Cybergate, Davao City</option>
        <option value="SM Ecoland, Davao City">SM Ecoland, Davao City</option>
        <option value="Felcris Centrale, Davao City">Felcris Centrale, Davao City</option>
        <option value="SM City Clark, Angeles City">SM City Clark, Angeles City</option>
      </select> -->
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="col">-->
      <label for="">Which position are you applying for?*</label>
       <%= form.select(:position, [['Sales Associate', 'Sales Associate'], ['Tech Support Associate', 'Tech Support Associate']], required: true) %>
       <p class="help"><%= @applicant.humanized_error(flash['errors']['position']) if flash.key?('errors') %></p>
     <!--  <select id="position" name="position">
        <option value=""></option><option value="Sales Associate">Sales Associate</option><option value="Tech Support Associate">Tech Support Associate</option><option value="Customer Service Associate">Customer Service Associate</option>
      </select> -->
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="col">-->
      <label for="">What is your highest educational attainment?*</label>
      <%= form.select(:education, [['High school graduate', 'High school graduate'], ['K-12 Graduate', 'K-12 Graduate']], required: true) %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['education']) if flash.key?('errors') %></p>
      <!-- <select id="education" name="education">
        <option value=""></option><option value="High school graduate">High school graduate</option><option value="K-12 Graduate">K-12 Graduate</option><option value="College graduate">College graduate</option><option value="Undergrad below 2 years">Undergrad below 2 years</option><option value="Undergrad 2 years and up">Undergrad 2 years and up</option><option value="Post Graduate">Post Graduate</option>
      </select> -->
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="col">-->
      <label for="">Do you have call center experience?*</label>
      <%= form.select(:experience, [['Yes, 1-5 months', 'Yes, 1-5 months'], ['Yes, 6-11 months', 'Yes, 6-11 months']], required: true) %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['experience']) if flash.key?('errors') %></p>
      <!-- <select id="experience" name="experience">
        <option value=""></option><option value="None">None</option><option value="Yes, 1-5 months">Yes, 1-5 months</option><option value="Yes, 6-11 months">Yes, 6-11 months</option><option value="Yes, 12-23 months">Yes, 12-23 months</option><option value="Yes, 24 months and above">Yes, 24 months and above</option>
      </select> -->
    <!--</div>-->
  </div>

  <div class="row">
    <!--<div class="col">-->
      <label for="">How did you learn about our job opening?*</label>
      <%= form.select(:source_info, [['Social Media', 'Social Media'], ['Online Job Portals', 'Online Job Portals']], required: true) %>
      <p class="help"><%= @applicant.humanized_error(flash['errors']['source_info']) if flash.key?('errors') %></p>
     <!--  <select id="source_info" name="source_info" class="col-lg-6">
        <option value=""></option><option value="Social Media">Social Media</option><option value="Online Job Portals">Online Job Portals</option><option value="Email">Email</option><option value="School Events">School Events</option><option value="Referral">Referral</option><option value="Outdoor Advertising">Outdoor Advertising</option><option value="Print Advertising">Print Advertising</option>
      </select> -->
    <!--</div>-->
  </div>

  <div class="form-group">
    <div class="form-check">
      <!-- <input class="form-check-input" type="checkbox" id="gridCheck"> -->
      <%= form.check_box :terms, class: 'form-check-input', required: true, checked: true%>
      <label class="form-check-label" for="gridCheck">
        I have agree to the <%= link_to 'Privacy Policy', privacy_policy_path %> and <%= link_to 'Terms and Conditions', terms_conditions_path %>.
      </label>
    </div>
  </div>

  <div class="row">
    <%= form.submit 'Submit', class: 'btn-vxi btn-submit' %>
  </div>
<% end %>
